/* @import "./style2.css"; */

/* ======ALL html===== */
* {
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.bg-blue {
  background-color: #25a3dc;
  color: white;
}

.card-shadow {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.fa.fa-list-ul {
  color: white;
}

#section1,
#section2,
#section3 {
  margin-bottom: 10px;
}

.animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* ======End ALL html===== */

/* =====navbar===== */
nav.navbar {
  background-color: #25a3dc;
  font-weight: 500;
  transition: 0.7s;
}

nav.navbar.navbarku {
  background-color: #ffffff;
  font-weight: 500;
  box-shadow: 0 1px 10px -3px rgba(0, 0, 0, 0.25);
}

nav.navbar .navbar-brand {
  color: white;
  font-weight: 900;
}

nav.navbar.navbarku .navbar-brand {
  color: black;
}

nav.navbar.navbarku .navbar-nav a.login,
nav.navbar .navbar-nav a:hover,
nav.navbar .navbar-nav a {
  color: white;
  margin-right: 30px;
}

nav.navbar.navbarku .navbar-nav a:hover,
nav.navbar.navbarku .navbar-nav a {
  color: black;
  margin-right: 30px;
}

nav.navbar .navbar-nav a.login {
  background: rgb(11, 68, 150);
  background: linear-gradient(148deg,
      rgba(11, 68, 150, 1) 0%,
      rgba(39, 170, 225, 1) 59%);
  border-radius: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* =====End navbar===== */

/* =====index.html===== */

#beranda .jumbotron {
  min-height: 500px;
}

#beranda #section3 {
  background-color: #425e92;
  padding: 1em 0;
}

#beranda #section3 h1.harga {
  text-align: center;
  font-weight: 100;
}

#beranda #section3 ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin-left: -25px;
  font-size: 17px;
}

#beranda #section3 ul li {
  line-height: 40px;
}

#beranda .jumbotron .gambar {
  animation: bg 5s linear infinite;
}

@keyframes bg {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2vh);
  }

  100% {
    transform: translateY(1);
  }
}

#beranda .jumbotron a {
  color: white;
  background-color: #fb3c7f;
  box-shadow: 0 0 0 0 rgba(230, 237, 255, 0.7);
  animation: peffect 1.72s infinite cubic-bezier(0.66, 0, 0, 1);
}

@keyframes peffect {
  to {
    box-shadow: 0 0 0 30px rgba(255, 249, 230, 0);
  }
}

#beranda #section2 .animasi {
  animation: menus 2s linear infinite;
}

@keyframes menus {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-2vh);
  }

  100% {
    transform: translateY(1);
  }
}

/* =====End index.html===== */

/* =======ruangkelas.html==== */

#ruangkelas #section2 {
  background-color: #25a2dc4f;
  color: black;
  margin: 10px 0;
  padding: 40px;
}

#ruangkelas #section2 i {
  color: red;
  font-size: 40px;
}

#ruangkelas a {
  text-decoration: none;
  color: black;
}

/* =======End ruangkelas.html==== */

/* =========Materi.html============= */
#content-materi {
  margin: 10px 0 50px;
  box-sizing: border-box;
}

#content-materi .judul-page {
  background: rgb(34, 193, 195);
  background: linear-gradient(204deg,
      rgba(34, 193, 195, 1) 0%,
      rgba(45, 112, 253, 1) 100%);
  color: white;
  padding: 30px;
  margin: 10px 0 30px 0;
  border-radius: 10px;
}

#content-materi .judul-page p {
  font-size: 35px;
}

#content-materi .sidebar {
  position: sticky;
  top: 5em;
}

#content-materi .sidebar #bar-fixed {
  height: 80vh;
  overflow: auto;
}

#content-materi .sidebar .daftar-materi a {
  text-decoration: none;
  color: black;
}

#content-materi .materi-bar {
  padding: 10px 30px;
  box-shadow: 2px 3px 3px 0px rgba(0, 0, 0, 0.5);
}

/* =======End materi.html======= */

/* =======Daftar/Login======== */

.divider-text {
  position: relative;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.divider-text span {
  padding: 7px;
  font-size: 12px;
  position: relative;
  z-index: 2;
}

.divider-text:after {
  content: "";
  position: absolute;
  width: 100%;
  border-bottom: 1px solid #ddd;
  top: 55%;
  left: 0;
  z-index: 1;
}

.btn-facebook {
  background-color: #405D9D;
  color: #fff;
}

.btn-google {
  background-color: #42AEEC;
  color: #fff;
}

article#logreg {
  width: 400px;
}

/* =======End Daftar/Login======== */


/* ======footer==== */
footer .footer-content {
  color: black;
  padding: 30px 0;
  min-height: 30vh;
}

footer ul li {
  margin-left: -30px;
  list-style: none;
}

footer ul li a,
footer ul li a:hover {
  text-decoration: none;
  color: black;
}

footer .sosmed ul li {
  display: inline;
  margin-right: 40px;
  font-size: 35px;
}

footer .copyright {
  /* background-color: rgba(193, 188, 199, 0.568); */
  background-color: #25a3dc;
  color: white;
}

/* ======End footer==== */

/* =================Responsive============= */
@media (max-width: 576px) {
  .card {
    margin: 0 70px;
  }

  #beranda #section3 h1.harga {
    font-size: 30px;
  }

  #beranda #section3 ul li {
    line-height: 30px;
  }

  article#logreg {
    width: 350px;
  }
}


@media (max-width: 768px) {}

@media (max-width: 991px) {
  nav.navbar {
    background-color: #25a3dc;
  }

  #materi .sidebar {
    display: none;
  }
}